[submodule ".dotfiles/ohmyzsh"]
	path = .dotfiles/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh/
[submodule ".dotfiles/ohmyzsh_custom/themes/powerlevel10k"]
	path = .dotfiles/ohmyzsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".dotfiles/ohmyzsh_custom/plugins/zsh-syntax-highlighting"]
	path = .dotfiles/ohmyzsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".dotfiles/ohmyzsh_custom/plugins/zsh-autosuggestions"]
	path = .dotfiles/ohmyzsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/bundle/vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".vim/bundle/nord"]
	path = .vim/bundle/nord
	url = https://github.com/arcticicestudio/nord-vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".vim/bundle/vim-nerdtree-syntax-highlight"]
	path = .vim/bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
